[user]
  name = Aristides Gonzalez
  email = ariguille.gp@gmail.com

[github]
  user = ariguillegp

[merge]
  defaultToUpstream = true
  tool = vimdiff

[mergetool]
  keepBackup = false

[push]
  default = upstream

[credential]
  helper = cache --timeout=3600

[grep]
  lineNumber = true

[core]
  editor = vi

[init]
  defaultBranch = main
